<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
    <h2 class="text-center">Create new account</h2>

    <form (ngSubmit)="submitRegistration()" #registration_form="ngForm" class="form-horizontal">
       
        <div class="form-group">
            <label for="account_name" class="col-md-3 col-xs-12 control-label">Account name:</label>
            <div class="col-md-9 col-xs-12">
                <input type="text" class="form-control" id="account_name" name="account_name" [(ngModel)]="account.name" #account_name="ngModel" required>
            </div>
        </div>
       
        <div class="form-group">
            <label for="user_email" class="col-md-3 col-xs-12 control-label">User email:</label>
            <div class="col-md-9 col-xs-12">
                <input type="email" class="form-control" id="user_email" name="user_email" [(ngModel)]="user.email" #user_email="ngModel" required>
            </div>
        </div>
        
        <div class="form-group">
            <label for="user_password" class="col-md-3 col-xs-12 control-label">Password:</label>
            <div class="col-md-9 col-xs-12">
                <input type="password" class="form-control" id="user_password" name="user_password" [(ngModel)]="user.password" #user_password="ngModel" required>
            </div>
        </div>
        
        <div class="form-group">
            <label for="user_password_repeat" class="col-md-3 col-xs-12 control-label">Repeat password:</label>
            <div class="col-md-9 col-xs-12">
                <input type="password" class="form-control" id="user_password_repeat" name="user_password_repeat" [(ngModel)]="password_control" #user_password_repeat="ngModel" required>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3 col-xs-12">
                <button type="submit" class="btn btn-success btn-lg" [disabled]="!registration_form.form.valid">Create new account</button>
            </div>
            <div class="col-md-9 col-md-offset-3 col-xs-12">
                <a routerLink='/login'><< Back to login</a>
            </div>
        </div>
    
    </form>

</div>